.my-height-100vh {
    min-height: 100vh;
}

.my-companies-top {
    background: url(../image/companies_top.png) repeat-x;
    height: 5px;
}

.my-companies-bottom {
    background: url(../image/companies_bottom.png) repeat-x;
    height: 5px;
}

.my-companies-delimiter {
    background: url(../image/companies_bottom.png) repeat-x;
    height: 5px;
}

.my-delimited-line {
    height: 5px;
    background: url(../image/delimiter_lines.png) repeat-x;
}

.my-margin-x3 {
    margin: 0 3px;
}

.my-margin-r3 {
    margin: 0 3px 0 0;
}

.my-input-left-radius {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    /*margin-left: 0.375rem !important;*/
}

.my-input-right-radius {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
    /*margin-right: 0.375rem !important;*/
}

div.my-col-sm-9 {
    width: 75%;
}

@media (max-width: 576px) {
    div.my-col-sm-9 {
        width: 100%;
    }
}

@media (width: 576px) {
    div.my-col-sm-9 {
        width: 75%;
    }
}
