.my-page-content-container {
    min-height: 80vh;
    margin-top: 16px;
    margin-bottom: 8px;
}

.my-page-workspace-container {
    margin-top: 16px;
}

.my-carousel-container,
.my-carousel-container .carousel-inner,
.my-carousel-container .carousel-item {
}